<% profile = pickle.user.profile %>
<div class="pickle-card">
  <div class="header">
    <div class="title">
      <%= link_to pickle.name, pickle, data: { turbo_frame: '_top' } %>
    </div>
    <div class="user-info">
      <div class="avatar">
        <%= image_tag profile.avatar.variant(:thumb), class: 'avatar' ,
                                                    alt: t('profiles.shared.profile_picture_of_user', name: profile.display_name) %>
      </div>
      <div class="name">
        <%= link_to profile.display_name, user_path(pickle.user), data: { turbo_frame: '_top' } %>
      </div>
    </div>
  </div>
  <div class="summary">
    <div class="started-on">
      <%= Pickle.human_attribute_name(:started_on) %>: <%= l pickle.started_on, format: :long %>
    </div>
    <div class="ingredients">
      <%= Pickle.human_attribute_name(:ingredients) %>: <%= pickle.ingredients.map(&:name).join(', ') %>
    </div>
  </div>
</div>