<% provide :title, t('.title') %>

<div class="row-pickles-main-frame">
  <div class="col-pickles-pane">
    <div class="pickle-section">

      <h2><%= t('.title') %></h2>

      <% if @pickles.empty? %>
        <div class="no-pickles-yet" id="no-pickles-yet">
          <%= t('pickles.shared.no_pickles_yet') %>
        </div>
      <% else %>
        <%= turbo_frame_tag 'pickle-list' do %>
          <% @pickles.each do |pickle| %>
            <%= render 'pickles/pickle', pickle: pickle %>
          <% end %>
          <%= paginate @pickles %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
