<%= form_with(model: journal, class: 'journal-form') do |form| %>
  <% if journal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if request.path == user_path(current_user) || (request.post? && request.referer.include?(user_path(current_user))) %>
    <%= form.label :pickle_id, Pickle.model_name.human, style: "display: block" %>
    <%= form.select :pickle_id, pickles.map{ |p| [p.name, p.id] } %>
  <% else %>
    <%= form.hidden_field :pickle_id, value: journal.pickle.id %>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit t('journals.shared.create_journal') %>
  </div>
<% end %>
