<% profile = journal.user.profile %>
<div id="<%= dom_id journal %>" class="journal-card my-2">
  <div class="journal-avatar">
    <%= image_tag profile.avatar.variant(:thumb), class: 'avatar' ,
    alt: "#{profile.display_name}のプロフィール画像" %>
  </div>
  <div class="journal-content">
    <div class="journal-head">
      <div>
        <%= profile.display_name %>
      </div>
      <div>
        <%= time_ago_in_words journal.created_at %>
      </div>
      <% if journal.user.id == current_user&.id %>
        <div>
          <%= button_to t('journals.shared.destroy_journal'), journal_path(journal), form: { data: { turbo_confirm: t('journals.shared.confirm') } },
                                                                                      method: :delete, class: 'btn btn-danger btn-sm' %>
        </div>
      <% end %>
    </div>
    <div class="journal-body">
      <% unless request.path == pickle_path(journal.pickle) || request.post? && request.referer.include?(pickle_path(journal.pickle)) %>
        <div class="pickle-link">
          <%= link_to journal.pickle.name, pickle_path(journal.pickle), data: { turbo_frame: '_top' } %>
        </div>
      <% end %>
      <%= journal.body %>
    </div>
  </div>
</div>
